.card--text {
  max-width: 350px;
  padding: var(--sp1-5) var(--sp);
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.card--text .card__title {
  font-size: var(--fs-xl);
}

.card--text .card__content {
  margin-block-end: var(--sp3);
}

.card--text-with-bg {
  background: var(--color--blue);
  color: var(--color--white);
}

.card--text-with-bg .card__link {
  color: var(--color--white);
}

.card--text-with-gray-bg {
  background: var(--color--gray-25);
  color: var(--color--white);
}

.card--text-with-gray-bg .card__link {
  color: var(--color--white);
}

.card--text-with-blue-bg {
  background: var(--color--blue-90);
  color: var(--color--blue);
}

