#page {
  max-width: var(--container);
  margin-inline: auto;
  background: var(--color--white);
  box-shadow: var(--shadow);
}

.app__header {
  padding: var(--sp2) var(--sp4);
  background: var(--color--blue);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header > .page-title {
  font-size: var(--fs-xxl);
  margin: auto;
  color: var(--color--white);
  max-width: var(--container);
}

.app__content {
  margin-top: 130px;
  padding-block: var(--sp2);
  background: var(--color--gray-95);
}
