#page {
  max-width: var(--container);
  margin-inline: auto;
  background: var(--color--white);
  box-shadow: var(--shadow);
}

.app__header {
  padding: var(--sp2) var(--sp4);
  background: var(--color--blue);
}

.page-title {
  margin: 0;
  color: var(--color--white);
}

