:root {
  --font-primary: 'Lora', serif;
  --font-secondary: "Metropolis", "sans-serif";
  --container: 1440px;
  --sp: 18px;
  --sp0-25: calc(0.25 * var(--sp));
  --sp0-5: calc(0.5 * var(--sp));
  --sp0-75: calc(0.75 * var(--sp));
  --sp1: calc(1 * var(--sp));
  --sp1-5: calc(1.5 * var(--sp));
  --sp2: calc(2 * var(--sp));
  --sp2-5: calc(2.5 * var(--sp));
  --sp3: calc(3 * var(--sp));
  --sp4: calc(4 * var(--sp));
  --sp5: calc(5 * var(--sp));
  --sp6: calc(6 * var(--sp));
  --sp7: calc(7 * var(--sp));
  --sp8: calc(8 * var(--sp));
  --sp9: calc(9 * var(--sp));
  --sp10: calc(10 * var(--sp));
  --sp11: calc(11 * var(--sp));
  --sp12: calc(12 * var(--sp));
  --fs: 16px;
  --fs-m: 18px;
  --fs-ml: 22px;
  --fs-l: 28px;
  --fs-xl: 32px;
  --fs-xxl: 36px;
  --fs-s: 14px;
  --fs-xs: 12px;
  --color--black: #000; /* Black */
  --color--gray-0: #0d1214; /* Black 1 */
  --color--gray-5: #0c0d0e;
  --color--gray-8: #171e23;
  --color--gray-10: #313637; /* Black 2 */
  --color--gray-20: #6e7172; /* Black 3 */
  --color--gray-25: #5d7585; /* Gray Dark */
  --color--gray-28: #7d919d; /* Gray Dark 2 */
  --color--gray-30: #7e96a7; /* Gray medium */
  --color--gray-40: #98abb9; /* Gray medium 1 */
  --color--gray-45: #afb8be; /* Gray medium 2 */
  --color--gray-50: #9ea0a1; /* Black 4 */
  --color--gray-70: #d7e1e8; /* Gray light */
  --color--gray-75: #e3e3e5;
  --color--gray-80: #e7edf1; /* Gray light 1 */
  --color--gray-90: #f1f4f7;
  --color--gray-95: #f7f9fa; /* Gray light 2 */
  --color--blue: #003cc5;
  --color--blue-10: #0f6292;
  --color--blue-20: #0d77b5; /* Blue dark */
  --color--blue-30: #3d92c4; /* Blue dark 2 */
  --color--blue-50: #2494db; /* Blue medium */
  --color--blue-70: #53b0eb; /* Blue bright */
  --color--blue-90: #ddeffb; /* Blue bright 5 */
  --color--white: #fff; /* White */
  --color--red: #e33f1e; /* Red */
  --color--gold: #fdca40; /* Gold */
  --color--green: #3fa21c; /* Green */
  --shadow: 0 0 var(--sp) var(--color--gray-80);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/background.svg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  margin-block: 0 var(--sp);
}

.section {
  margin-block: var(--sp3);
  padding: var(--sp) var(--sp3);
}

.section__title {
  font-size: var(--fs-xxl);
  margin-block-end: var(--sp2);
}

@font-face {
  font-family: Metropolis;
  src:
    url("./fonts/metropolis/Metropolis-Bold.woff2") format("woff2"),
    url("./fonts/metropolis/Metropolis-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* lora-regular - latin */
@font-face {
  font-family: Lora;
  src:
    local("Lora Regular"),
    local("Lora-Regular"),
    url("./fonts/lora/lora-v14-latin-regular.woff2") format("woff2"),
    url("./fonts/lora/lora-v14-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* lora-italic - latin */
@font-face {
  font-family: Lora;
  src:
    local("Lora Italic"),
    local("Lora-Italic"),
    url("./fonts/lora/lora-v14-latin-italic.woff2") format("woff2"),
    url("./fonts/lora/lora-v14-latin-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* lora-700 - latin */

@font-face {
  font-family: Lora;
  src:
    local("Lora Bold"),
    local("Lora-Bold"),
    url("./fonts/lora/lora-v14-latin-700.woff2") format("woff2"),
    url("./fonts/lora/lora-v14-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
