.banner {
  position: relative;
  overflow: hidden;
  padding-block: var(--sp4);
}

.banner__media {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.banner__media img {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.banner__content {
  max-width: var(--layout-container);
  margin-inline: auto;
  position: relative;
  z-index: 10;
}

.banner__content-inner {
  max-width: 550px;
  padding: var(--sp1-5);
  background: var(--color--blue-tr);
}

.banner__links {
  display: flex;
  gap: var(--sp);
  align-items: center;
}
