.pager {
  margin-top: var(--sp2);
  margin-bottom: var(--sp2);
  display: flex;
  justify-content: center;
}

.pager__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.pager__item a:hover, .pager__item a:focus {
  background-color: var(--color--blue-90);
}

.pager__item a {
  border: none;
  padding: var(--sp);
  color: var(--color--gray-10);
  font-family: var(--font-secondary);
}
